
header{
    margin: auto;
    text-align: center;
    color: rgb(214, 212, 212);
}
nav{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.329);
    height: 35px;
    padding-top: 7px;
    padding-bottom: 3px;

}
nav a{
    color: white;
    padding-right: 7px;
    padding-left: 7px;


}

