body{
    background-color: rgb(170, 173, 173);
    margin: 0%;
}

section{
    background-color:rgba(0, 0, 0, 0.139);
    width: 600px;
    height: max-content;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}

h1{
    background-color: rgb(7, 7, 91);
    border-radius: 10%;
    color: white;
    text-align: center;
    
    width: max-content;;
    padding: 5px;
    margin: 30px auto;
}
p{
    font-size: 18px;
    font-family: fantasy;
}
#botao{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    width: 250px;
    height: 30px;
}

footer{
    height: 30px;
    text-align: center;
}